/*Footer*/
.footer {
    margin: 0px;
    background-color: #1A5276;
    padding: 4px;
  }
  
  #Foto_footer_logo {
    width: 130px;
  }
  
  #redes {
    display: flex;
    justify-content: center;
    padding-right: 60px;
    margin: 0px;
    list-style-type: none;
  }
  
  #logo_footer_Facebook {
    width: 70px;
  }
  
  #logo_footer_Youtube {
    width: 70px;
  }
  
  #logo_footer_Instagram {
    width: 70px;
  }
  
  #logo_footer_Linkedin {
    width: 70px;
  }